*{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;

}

body{
	background: url('../img/fondo.jpg');
	background-attachment: fixed;
	overflow: hidden;
	/*margin-bottom: 1000px;*/

}

header{
	background: rgba(0, 0, 0, 9);
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 1000;
	opacity: 0.98;
}

#box{
	width: 80%;
	height: 85%;
	margin: auto;
	margin-top: 110px;
	box-shadow: 0px 0px 2px gray;
	background: #FF9458;
	opacity: 0.86;
}

#acerca{
	padding: 150 50 0 50
	

}

h3{
	margin: 35 auto 10;
	
}

h2{
	padding: 0 ;
	font-size: 60px;
	font-family: Helvetica;
	top: 100px;
	margin: 50 0 0 50;
	float: left;
	text-decoration: underline;

}


nav{
	/*outline: 1px solid yellow;*/
}

nav ul{
	list-style: none;
	overflow: hidden;
}


ul{
	/*outline: 1px solid blue;*/
	list-style: none;
	padding: 0;
	margin: 0;
	/*text-align: center;*/
	background-color: #525252;
	line-height: 100px;

}

li{
	/*outline: 1px solid red;*/
	width: 200px;
	display: inline-block;


}



p{
	margin-bottom: 70px;
}



a{
	/*outline: 1px solid yellow;*/
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	padding: 10px auto;
	display: flex;
	justify-content: center;
	white-space: pre;
	left: 100px;
}

a:hover {
	background: #f9a91a;
	color: #000;
}

 #imghome{
 	position: absolute;
 	height: 100px;
 	width: 120px;
 	top: 0px;
 	left: 30px;

 }

