@font-face {
	/*Establezco una nueva fuente*/
    font-family: 'Netflix Sans-normal';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff');
}

@keyframes slide {
	0% {margin-left: 0%}
	20% {margin-left: 0%}

	25% {margin-left: -100%}
	45% {margin-left: -100%}

	50% {margin-left: -200%}
	70% {margin-left: -200%}

	75% {margin-left: -300%}
	95% {margin-left: -300%}
}





/*-------------Index-------------*/

html, body{
	background: url('../img/fondo.jpg');
	background-attachment: fixed;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Netflix Sans-normal';
}

header{
	width: 100%;
	position: fixed;
}

#imghome{
	height: 100px;
	width: 120px;
}

#menu-nav-bar{
	list-style: none;
	display: flex;
	color: #FFFFFF;
	background-color:   #3e3e3e;
	text-align: center;
	overflow: auto;
	white-space: nowrap;
}

.menu-nav-bar-item{
	font-size: 15px;
	width: 30%;
	display: inline-block;
	height: 
}

.link-style-menu{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

.link-style-menu:hover {
	color: #FFFFFF;
	background-color: #2e2e2e;
}

#section-index{
	width: 80%;
	margin: 0px auto;
	margin-top: 110px;
	box-shadow: 0px 0px 2px gray;
	background: #FF9458;
}





/*-------------JQuery-------------*/

.slider-frame{
	width: auto;
	height: auto;
	margin: 80px auto 0;
	overflow: hidden;

	
}

.slider-frame ul{
	display: flex;
	padding: 0;
	margin: 30px;
	width: 400%;

	animation: slide 15s infinite;
}

.slider-frame li{
	list-style: none;
	width: 160%;
}

.slider-frame img{
	width: 100%;

}



