@font-face {
	/*Establezco una nueva fuente*/
    font-family: 'Netflix Sans-normal';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans-bold';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff');
}

@keyframes slide {
	0% {margin-left: 0%}
	20% {margin-left: 0%}

	25% {margin-left: -100%}
	45% {margin-left: -100%}

	50% {margin-left: -200%}
	70% {margin-left: -200%}

	75% {margin-left: -300%}
	95% {margin-left: -300%}
}





/*-------------Index-------------*/

html, body{
	background: url('../img/fondo.jpg');
	background-attachment: fixed;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Netflix Sans-normal';
	display: flex;
	justify-content: center;
	text-align: center;
}

header{
	width: 100%;
	position: fixed;
}

#imghome{
	height: 100px;
	width: 120px;
	float: left;
	background-color: #3e3e3e;
}

#menu{
	height: 100px;
	color: #FFFFFF;
	background-color:   #3e3e3e;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ul-style-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.border{
	border-left: 1px solid #7a7a7a;
}

.link-style-menu{
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	text-align: center;
	padding: 14px 16px;
}

.link-style-menu:hover {
	background-color: #353535;
}

.link-style-menu:active{
	background-color: #313131;
}

#section-index{
	width: 80%;
	margin: 0px auto;
	margin-top: 110px;
	box-shadow: 0px 0px 2px gray;
	background: #FF9458;
}





/*-------------JQuery-------------*/

.slider-frame{
	width: auto;
	height: auto;
	margin: 80px auto 0;
	overflow: hidden;

	
}

.slider-frame ul{
	display: flex;
	padding: 0;
	margin: 30px;
	width: 400%;

	animation: slide 15s infinite;
}

.slider-frame li{
	list-style: none;
	width: 160%;
}

.slider-frame img{
	width: 100%;

}





/*-------------Registrar e iniciar sesion-------------*/

.body-sign-in-and-up{
    background: rgb(255, 139, 72, 0.9);    /*  80% opaco negro */ 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
	vertical-align: middle;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    width: 800px;
    height: 580px;
	margin-top: 200px;
}

.sign-in-and-sign-up-label{
	color: #3d3d3d;
    font-size: 30px;
    font-family: 'Netflix Sans-bold';
    margin-bottom: 15px;
}

.input-style{
    background-color:  #ffffff;
    color: #000000;
    width: 400px;
    height: 40px;
    border: solid;
    border-radius: 6px;
    border-color: #3d3d3d;
    border-width: 2px;
    margin-top: 18px;
    padding-left: 10px;
}

.input-style:focus{
    outline: 2px solid #3d3d3d;
    transition: outline 0.1s linear;
}

.continuar-y-registrarme-btn{
    background-color: #3d3d3d;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: 150%;
    margin-top: 50px;
    width: 400px;
    height: 40px;
}

.continuar-y-registrarme-btn:hover{
    background-color: #333333;
    text-decoration: none;
}

.continuar-y-registrarme-btn:active{
    text-decoration: none;
    background-color: #2e2e2e;
}

.pregunta-link{
    color: #ffffff;
	text-decoration: none;
}

.pregunta-link:hover{
    color: #d1d1d1;
    text-decoration: none;
}

.pregunta-link:active{
    text-decoration: none;
    color: #c9c9c9;
}

.pregunta-label{
    margin-top: 10px;
}

.mensaje-error {
	color: #DF0101;
}

.stateLogOut{
	display: none;
}